a#sdc {
  cursor: pointer;
}
a#sdc:before {
  content: ' ';
  color: #44ba3a;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  background-image: url(${pictooffurl});
}

.g.trusted {
}

.trusted cite {
  color: #34a853;
}

.trusted:before {
  content: ' ';
  color: #44ba3a;
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-left: -26px;
  background-image: url(${pictourl});
}
.g.trustedfirst {
  padding: 16px 5px 5px 16px;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  box-shadow: none;
  width: 630px;
}
.trustedfirst cite {
  color: #34a853;
}
.trustedfirst:before {
  content: ' ';
  color: #44ba3a;
  width: 24px;
  /* height:40px; */
  height: 24px;
  display: block;
  float: right;
  margin-left: -15px;
  margin-top: -17px;
  background-image: url(${pictourl});
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #bbb;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 100%;
  margin-left: -92px;
  margin-bottom: 6px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #bbb transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
